@charset "UTF-8";
body{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}

/* alert badge */
.circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #ff0000;
  position: absolute;
  top: -5px;
  left: 110%;
}

/* 녹색 텍스트 */
.green{
  color: #4c4f4e;
}

.wrap{
  background-color: #F8F8F8;  
}
/* 녹색배경 */
.greenContainer{  
  height: 132px;
  background-color: #4c4f4e;    
  
  display: flex;
  align-items: flex-end;
  padding: 16px;
}

.greenContainer .name{
   font-size: 20px;
  font-weight: bold;
  color: #ffffff;
} 
.greenContainer .modify{
  margin-left: auto;
}

/* 단골상점 , 상품후기 , 적립금 박스 */
.summaryContainer{
  background-color: white;  
  display: flex;  
  padding: 21px 16px;  
  height: 90px;
  margin-bottom: 10px;
}
/* 단골상점 , 상품후기 , 적립금 */
.summaryContainer .item{
  flex-grow: 1
}
/* 녹색 숫자 */
.summaryContainer .number{
  font-size: 19px;
  font-weight: bold;
  color: #4c4f4e;
}
/* 텍스트 */
.summaryContainer .item > div:nth-child(2){
  font-size: 13px;
  color: #4c4f4e;
}

.listContainer #memberUpdateBtn{
	color: #4c4f4e;
}

.listContainer #memberDeleteBtn{
	color: #4c4f4e;
}

.listContainer #logoutBtn{
	color: #4c4f4e;
}

.listContainer #backBtn{
	color: #4c4f4e;
}

.listContainer .icon{
	color: #4c4f4e;
}

/*  */
.listContainer .item:hover{
/*   background-color: #f8f8f8; */

}

.infoContainer .item:hover{
/*   background-color: #f8f8f8; */
}