<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ott.dla.mapper.ReviewMapper">

	<!-- 목록보기 -->
	<select id="getList" resultType="ott.dla.domain.ReviewVO">
		select * from review order by rev_bno desc
	</select>

	<!-- 삽입 -->
	<insert id="insert">
		INSERT into review(rev_bno,rev_teg,rev_title,rev_content,rev_writer)
		VALUES(review_seq.nextval,#{rev_teg},#{rev_title},#{rev_content},#{rev_writer})
	</insert>
	
	<!-- 조회 -->
	<select id="read" resultType="ott.dla.domain.ReviewVO">
		select * from review where rev_bno=#{rev_bno}
	</select>
	
	<!-- 수정 -->
	<update id="modify">
		update review set rev_bno=#{rev_bno},rev_title=#{rev_title}, rev_teg=#{rev_teg},
		rev_content=#{rev_content}, rev_writer=#{rev_writer},
		rev_regdate=sysdate
		where rev_bno=#{rev_bno}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
		delete from review where rev_bno=#{rev_bno}
	</delete>
	
	<!-- 글 개수 -->
	<select id="count" resultType="int">
		select count(rev_bno) from review
		where
		<include refid="criteria" />
		rev_bno>0
	</select>


	<sql id="criteria">
		<!-- prefix : 맨 앞에 삽입 -->
		<!-- suffix : 맨 뒤에 삽입 -->
		<!-- prefixOverrides : 맨 앞에 있으면 삭제 -->
		<!-- collection들을 item에 넣는다. -->
		<!-- choose : 여러 상황들 중 하나의 상황에서만 동작한다. -->
		<!-- when : if -->
		<!-- "type =='T'.toString()"타입과 T가 같다면 -->
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
		<foreach collection="typeArr" item='type'>
		 <trim prefix="OR" >
		 <choose>
			<when test="type =='T'.toString()">
				rev_title like '%' || #{keyword} || '%'
			</when>
			<when test="type =='C'.toString()">
				rev_content like '%' || #{keyword} || '%'
			</when>
			<when test="type =='W'.toString()">
				rev_writer like '%' || #{keyword} || '%'
			</when>
			<when test="type =='G'.toString()">
				rev_teg like '%' || #{keyword} || '%'
			</when>
		 </choose>
		 </trim>
		</foreach>
		</trim>
	</sql>
	
	<!-- 페이지 처리 -->
	<select id="getListWithPaging" resultType="ott.dla.domain.ReviewVO">
		<!-- 20개를 뽑고 그중 10개 뽑기 -->
		<![CDATA[
		select rev_bno,rev_title,rev_teg,rev_content,rev_writer,rev_regdate
		from(select /*+INDEX_DESC(review review_pk) */
			rownum rn, rev_bno, rev_title, rev_teg, rev_content, rev_writer, rev_regdate
			from review
			where 
		]]>
			<include refid="criteria" />
			
		<![CDATA[
			rownum <= #{pageNum} * #{amount})
		where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>


</mapper>
